
/*Start*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    font-family: "Raleway",sans-serif,"cursive";
}
.intro{
    background-color: #CEEDDB;
    position: relative;
}

.search{
    display: inline-block;
    background-color: #CEEDDB;
    margin:0.2em;
    margin-bottom: 1em;
    border: 2px solid #5a5959;
    border-radius: 5px;
    padding:2px;
}
.input-search{
    margin:0 0.2em;
    background-color: #CEEDDB;
    padding:0.22em;
    font-size: 1rem;
    border: none;
    outline: none;
    max-width:135px;
    border-radius: 2px;

}
/*search-start*/
.search-results {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    border-radius: 5px;
    padding: 0.3em;
    margin-top: 0.5em;
    background-color: rgb(162, 238, 218);
    margin-top: 0.4em;
    border: 2px solid rgb(92, 22, 22);
    overflow-y: scroll;
    scrollbar-width: thin;
    border-radius: 4px;
    max-height:200px;
    display: none;
}

.search-results li {
    margin-top:0.5em;
    padding:5px;
    border-radius: 4px;
    cursor: pointer;
}
.search-results li:hover {
    background-color:#000;
    color:#fff;  
}
/*search-end*/

.weather-search-btn{
    border:none;
    color:white;
    background-color: #3a56c9;
    border-radius: 5px;
    padding:0.2em;
    margin:0 0 0.2em 0;
    cursor: pointer;
}

.weather-today{
    min-height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-today h2{
    font-size: 2rem;
}

.location-name{
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.span-today-el{
    font-size: 1.25rem;
}
.weather-data{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border-bottom: 1.4px solid #525151;
}

.img-data img{
    width:80px;
    height:80px;
}

.weather-data .temp-data{
    margin-left: 0.6em;
    font-size: 2.1rem;
}

.weather-data .today-date{
    margin-left: 2em;
    font-size: 1.2rem;
    
}

.today-el{
    display:flex;
    align-items: center;
    margin-bottom: 0.4em;
}

.today-el .weather-today-p{
    margin-left: 0.6em;
    font-size: 1.2rem;
}

.weather-today-p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img-unsplash{
    position: absolute;
    top:2px;
    right:3px;
    margin:0.3em 0 0 5em;
    border-radius: 5px;
}
.img-unsplash img{
    width:30px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
/*Weekly Data*/
.week-info,.today-info{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    font-size: 2.1rem;
    color: #333;
}

.weekly-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weekly-data div{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.weekly-data p{
    margin: 8px 0;
    font-size: 1rem;
}

.weekly-data img {
    width: 64px;
    height: 64px;
}

.weekly-data div {
    border-radius: 12px;
    flex: 1 1 calc(33.333% - 16px);
    padding: 16px;
    text-align: center;
    transition: transform 0.2s ease;
}
.weekly-data div:hover{
    background-color: #fdfefd;
}
.weekly-data div p{
    color:#272307;
}
.weekly-data div:hover,.today-highlights div:hover , .air-quality-data div:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
/*Today Highlights*/
.today-highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.today-highlights div , .air-quality-data div{
    border-radius: 12px;
    flex: 1 1 calc(33.333% - 16px);
    padding: 16px;
    min-width: 140px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border:2px solid blueviolet;
}

.today-wind{
    font-size: 1.3rem;
}

.today-wind p,.pressure-data p,.today-humidity p,.today-visibility p,.today-rain p,.today-uv-index p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.32rem;
}
/*Aqi Section*/
.aqi-data-section{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #212121;
    margin:0.8em auto;
    padding:10px;

}
.air-quality-data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.air-quality-data div{
    font-size: 1.2rem;
}
.air-quality-data div:hover{
    background-color:#CEEDDB;
}

.aqi-heading-h2{
    font-size: 2rem;
}
/*Footer Section*/
footer{
    margin:0;
}
footer .footer-div{
    background-color: #212121;
    color:#fff;
    display: flex;
    position:fixed;
    bottom:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 1.25rem;
}
.link-section{
    margin-bottom: 0.2em;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.link-section a{
    text-decoration: none;
    color:#fff;
    margin:0.5em 1.1em 0.5em 1.1em;
}

/* error styling */
.error-div-parent{
    font-size: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.location-error-parent{
    font-size: 1.8rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-error-parent h2{
    font-size: 2rem;
}



